$warm-grey-900: hsl(24, 9.8%, 10%);
$warm-grey-700: hsl(30, 6.3%, 25.1%);
$warm-grey-500: hsl(25, 5.3%, 44.7%);
$warm-grey-300: hsl(24, 5.7%, 82.9%);
$warm-grey-100: hsl(60, 4.8%, 95.9%);

$indigo-900: hsl(242.2, 47.4%, 34.3%);
$indigo-700: hsl(244.5, 57.9%, 50.6%);
$indigo-500: hsl(238.7, 83.5%, 66.7%);
$indigo-300: hsl(229.7, 93.5%, 81.8%);
$indigo-100: hsl(226.5, 100%, 93.9%);

$rose-900: hsl(341.5, 75.5%, 30.4%);
$rose-700: hsl(345.3, 82.7%, 40.8%);
$rose-500: hsl(349.7, 89.2%, 60.2%);
$rose-300: hsl(352.6, 95.7%, 81.8%);
$rose-100: hsl(355.6, 100%, 94.7%);
